@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../assets/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 10px;
}

.menu {
  display: flex;
  height: 110px;
  align-items: center;
}

#btn{
  color:white;
  font-family: 'Maven Pro', sans-serif;;
  background-color: rgb(228,12,52);
  border-radius: 5px;
  padding-top:5px;
  padding-left:7px;
  font-size:14px;
  font-weight:bold;
}

#btn:hover {
  background-color: rgb(255, 89, 120);
}

#menu-izquierdo{
 
  flex: 1 1 160px;

    img{
      margin-left: 70px;
      width: 50px;
      height: 50px;
      background-size: 25px 25px;
    }

    :hover {
      border-radius: 5px white;
      opacity: 0.90;
    }

    img:hover{
      background-color: white;
      border-radius: 20px
    }
}



#menu-derecho{
   
  flex: 1 1 320px;
 
  li{
    margin-left: 10px;
    display: inline;
    padding: 5px;
  }

  .btn-menu{
    background-color: rgb(182, 6, 38);
    border-radius: 5px;
  }

  a{
    font-size: 18px;
    color:white;
    font-family: 'Maven Pro', sans-serif ;
    font-weight:bold;
  }

  li:hover {
    background-color: white;
    border-radius: 5px ;
    a {
      color:red;
    }
  }

}




.content {
  display:flex;
  flex-direction: column;
  margin-top: 42px;
  .element-content {
    height: 100px;
    width: 85%;
    align-self: center;
  }

  #titulo {
   

    h1 {
      font-family: 'Maven Pro', sans-serif;
      color: white;
      font-weight:bold;
    }
    
  }

  #contenido{
      padding-top:20px;
      h4 {

        color:white;
        font-family: 'Maven Pro', sans-serif;
        font-weight:bold;
        font-size: 16px;
      }

      #btn {
        margin-top: 20px;
        width: 100px;
        height: 30px;
      }
    
  }


}


 


#row-car {
  display: flex;
  justify-content: flex-end;
  margin-top:80px;
  .element-car{
 
    width: 220px;
    margin: 10px;
    display: inline-block;
  
    .carritos {
      .car{
        width: 100%;  
        border: 2px solid rgb(228,12,52);
        border-radius:5px;
      }
    
      .car:hover{
        opacity: 0.90 ;
      }
    }
  }

}








